"*":
  "atom-beautify":
    _analyticsUserId: "fb225bd5-ece2-4cb3-87e6-daa860fd115b"
  "atom-material-ui":
    compactTreeView: true
    depth: true
    fonts:
      useRobotoInUI: true
    panelContrast: true
    panels:
      depth: true
      panelContrast: true
    rippleAccentColor: true
    showTabIcons: "Show on active tab"
    slimScrollbar: true
    tabSize: "Small"
    tabs:
      rippleAccentColor: true
      showTabIcons: "Show on active tab"
      tabSize: "Small"
    treeView:
      compactTreeView: true
    ui:
      slimScrollbar: true
    useRoboto: true
    useRobotoInUI: true
  "atom-ternjs":
    displayAboveSnippets: true
    documentation: false
    lint: false
    sort: false
    urls: false
    useSnippets: true
    useSnippetsAndFunction: true
  "autocomplete-plus":
    autoActivationDelay: 200
    confirmCompletion: "tab and enter"
    includeCompletionsFromAllBuffers: true
  autosave:
    enabled: true
  core:
    audioBeep: false
    disabledPackages: [
      "firepad"
      "jshint"
      "atomatigit"
      "debugger"
      "git-grep"
      "git-log"
      "git-plus"
      "Parinfer"
      "autocomplete-paths"
      "react"
    ]
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    invisibles: {}
  "exception-reporting":
    userId: "eee8e486-0362-b5da-5e8b-925fe95bd14a"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  linter:
    showErrorInline: false
  "linter-clojure":
    javaExecutablePath: "/Library/Java/JavaVirtualMachines/jdk1.8.0_25.jdk/Contents/Home/bin/java"
  "linter-eslint": {}
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".coffee.jsx.source":
  editor:
    autoIndentOnPaste: true
