"*":
  "atom-beautify":
    _analyticsUserId: "fb225bd5-ece2-4cb3-87e6-daa860fd115b"
  "atom-material-ui":
    colors:
      abaseColor:
        red: 138
        green: 44
        blue: 42
        alpha: 1
      accentColor:
        red: 27
        green: 175
        blue: 178
        alpha: 1
      genAccent: true
      predefinedColor: "Red"
    depth: true
    fonts: {}
    panelContrast: true
    tabs:
      compactTabs: true
    treeView:
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  "atom-ternjs":
    caseInsensitive: false
    displayAboveSnippets: true
    documentation: false
    guess: false
    lint: false
    urls: false
    useSnippets: true
    useSnippetsAndFunction: true
  "autocomplete-plus":
    autoActivationDelay: 200
    confirmCompletion: "tab and enter"
    includeCompletionsFromAllBuffers: true
  autosave:
    enabled: true
  core:
    audioBeep: false
    disabledPackages: [
      "firepad"
      "jshint"
      "atomatigit"
      "debugger"
      "git-grep"
      "git-log"
      "git-plus"
      "vim-mode"
      "atom-import-sort"
    ]
    openEmptyEditorOnStart: false
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    backUpBeforeSaving: true
    invisibles: {}
    showIndentGuide: true
  "exception-reporting":
    userId: "eee8e486-0362-b5da-5e8b-925fe95bd14a"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "language-babel":
    autoIndentJSX: true
  linter:
    showErrorInline: false
  "linter-clojure":
    javaExecutablePath: "/Library/Java/JavaVirtualMachines/jdk1.8.0_25.jdk/Contents/Home/bin/java"
  "linter-eslint": {}
  "package-sync":
    forceOverwrite: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".coffee.jsx.source":
  editor:
    autoIndentOnPaste: true
