'.platform-darwin':
  'cmd-ctrl-v': 'user:toggle-vim-mode'

'atom-text-editor.vim-mode:not(.normal-mode)':
  'j j': 'vim-mode:activate-normal-mode'

'atom-workspace, atom-text-editor':
  'ctrl-x !': 'user:insert-rage'
  'ctrl-x _': 'user:insert-disapproval'
  'cmd-j': 'user:join-lines' # auto indents after joining
