packages: [
  "atom-material-syntax"
  "atom-material-ui"
  "atom-ternjs"
  "autocomplete-paths"
  "color-picker"
  "linter"
  "linter-clojure"
  "linter-eslint"
  "package-sync"
  "react"
  "seti-syntax"
  "seti-ui"
  "vim-mode"
]
